*{
  margin: 0;
  padding: 0;
}
:root {
  --color-primario: #F44336; /* Rojo */
  --color-secundario: #FFEB3B; /* Amarillo */
  --color-terciario: #2196F3; /* Azul */
  --color-texto: #333333; /* Negro */
  --color-fondo: #FFFFFF; /* Blanco */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  
}

/*perfil*/

.card-perfil{
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  background-color: var(--color-secundario);
  border: 1px solid #333;
  display: grid;
  place-items: center;
}

.card-perfil .ft-perfil img{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 20px;
  background: var(--color-primario);
  border-radius: 50px;
  border: 3px solid #333;
  
}

.card-perfil .ft-perfil img:hover{
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 10px 0 #0000aa;
  transform: scale(1.015);
  filter: brightness(1.1);
}

.card-perfil .links{
  display: grid;
  gap: 10px;
  justify-content: center;
}

.card-perfil .links a{
  width: 100%;
  text-decoration: none;
  background-color: var(--color-terciario);
  color: var(--color-fondo);
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  
}

.card-perfil .links a:hover{
  background-color: var(--color-fondo);
  color: var(--color-texto);
  transition: 0.10s ease-out;
  border: 2px solid #0047AB;
}

/* Estilos para pantallas de 720px o menos */
@media screen and (max-width: 720px) {
  body {
    margin-top: 10%;
  }

  .card-perfil {
    width: 80%;
  }
}

/* Estilos para pantallas de 480px o menos */
@media screen and (max-width: 480px) {
  body {
    margin-top: 6%;
  }

  .card-perfil {
    width: 85%;
  }
  
  .card-perfil .links a {
    width: 350px;
    text-decoration: none;
    padding: 10px 0;
  
  }
}

/* Estilos para pantallas de 320px o menos */
@media screen and (max-width: 320px) {
  body {
    margin-top: 2%;
  }

  .card-perfil {
    width: 80%;
  }
}
